node_modules

# cdk
cdk/*.js
cdk/!jest.config.js
cdk/*.d.ts
cdk/node_modules

# CDK asset staging directory
cdk/.cdk.staging
cdk/cdk.out
cdk/lambda

#
src/generated
.env
.env.production

# System
**/*.DS_Store
